numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1
xgboost==2.0.3
joblib==1.4.2
matplotlib==3.10.1
seaborn==0.13.2
plotly==6.9.0
streamlit==1.61.1
scipy==1.15.2
openpyxl==3.1.5
jupyter==1.1.1
notebook==7.4.5
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.12.5

# Time Series Forecasting
statsmodels==0.14.5
prophet==1.1.7

# Deep Learning / LSTM
tensorflow==2.20.0